DEBUG=on
SECRET_KEY="django-key"
DATABASE_URL=sqlite:///db.sqlite3
NPM_BIN_PATH="path/to/npm"
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost,0.0.0.0"
FERNET_KEY="my_secret_key"
TIME_ZONE="Europe/Paris"
CACHE_URL="redis://localhost:6379"
QGIS_PATH="path/to/gdal"