{% load race_tags %}

<tr class="event-item">
    <td>
        {% include "relation/partials/favorite_star.html" %}
    </td>
    <td>
        {% if race.url_inscriptions %}
            <a href="{{ race.url_inscriptions }}" title="Link">
                {{ race.name }} <i data-lucide="external-link" class="cursor-pointer flex gap-2 items-center text-left text-sm font-medium group focus:outline-none focus-visible:border-b" style="width: 16px; height: 16px;"></i>
            </a>
        {% else %}
            {{ race.name }}
        {% endif %}
    </td>
    <td>
        {% if race.date_validated %}
            {{ race.date_course|date:'d/m/Y' }}
        {% else %}
            ~{{ race.date_course|date:'M Y' }}
        {% endif %}
    </td>
    <td>
        {{ race.city }}
        {% if race.distance_from_user %}
            ({{ race.distance_from_user.km|floatformat:1 }} km)
        {% endif %}
    </td>
    <td>
        {% status_chip race.inscription_status race.inscription_status %}
        {% if race.date_inscriptions_open %}
            {{ race.date_inscriptions_open|date:'d/m/Y' }}
        {% endif %}
    </td>
    <td>
        {% race_type_chip race.race_type %}
    </td>
    <td>
        {% for distance in race.distance %}
            <div class="badge badge-primary mr-2">{{ distance }} km</div>
        {% endfor %}
    </td>
    <td>
        <div class="flex items-center justify-end gap-2">
            {% include "relation/partials/race_status_dropdown.html" %}
            <button class="btn btn-circle btn-ghost btn-xs text-error tooltip tooltip-left" data-tip="Signal Error" onclick="openSignalErrorModal('{{ race.id }}', '{{ race.name|escapejs }}')">
                <i data-lucide="alert-triangle" style="width: 16px; height: 16px;"></i>
            </button>
        </div>
    </td>
</tr>