{% extends 'base.html' %}
{% load static tailwind_filters tailwind_tags %}

{% block title %}Planning - Run Together{% endblock %}
{% block content %}

<div class="max-w-5xl mx-auto bg-white p-6 rounded-lg shadow">
    <h1 class="text-2xl font-bold mb-4">Calendar</h1>
    <div id='calendar'></div>
</div>

{% endblock %}
{% block extra_js %}
{% comment %} <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script> {% endcomment %}
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.20/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.20/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.20/index.global.min.js'></script>
<script>
    // https://fullcalendar.io/docs
    
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'fr',
          firstDay: 1, // Monday first
          height: 'auto',
          selectable: true,

          // URL qui renvoie tes événements (on va la créer après)
            events: '/planning/events/', 
            
            // Style des événements
            eventDidMount: function(info) {
                if (info.event.extendedProps.type === 'trail') {
                    info.el.classList.add('bg-green-500', 'border-none');
                }
            },

            select: function(info) {
                set_absences(info.start, info.end)
            }
        });
        calendar.render();
      });

      function set_absences(dateStart, dateEnd) {
        const data = {
            "dateStart": formattedDate(dateStart),
            "dateEnd": formattedDate(dateEnd),
            "reason": "Sick"
        }
        fetch(`{% url 'planning:set_absences' %}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken()
            },
            body: JSON.stringify(data)
        })
        .then(_ => {
            console.log("Sauvegarde réussie:");
            alert("Diagramme sauvegardé avec succès!");
        })
        .catch(error => {
            console.error("Erreur lors de la sauvegarde:", error);
            alert("Erreur lors de la sauvegarde du diagramme");
        });
      };

      function formattedDate(date) {
        const yyyy = date.getFullYear();
        let mm = date.getMonth() + 1; // Months start at 0!
        let dd = date.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        return yyyy + '-' + mm + '-' + dd;
      }

    // Fonction helper pour récupérer le token CSRF
    function getCsrfToken() {
        const name = 'csrftoken';
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    </script>
{% endblock %}
{% block extra_css %}{% endblock %}