{% extends 'base.html' %}
{% load static tailwind_filters tailwind_tags crispy_forms_tags %}

{% block title %}Races - Run Together{% endblock %}


{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Races</h1>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
        <!-- Sidebar Filters -->
        {% include "race/partials/form.html" %}

        <!-- Main Content -->
        <main class="lg:col-span-3">

            <div class="flex flex-col gap-4 p-4">
                <div role="tablist" class="tabs tabs-bordered">
                
                    <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Profil" checked />
                    <div role="tabpanel" class="tab-content p-10">
                        {% include "race/partials/race_list_results.html" %}
                    </div>

                    <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Paramètres" onclick="onMapTabShown()" />
                    <div role="tabpanel" class="tab-content p-10">
                        {% include "map/map.html" %}
                    </div>

                    <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Sécurité" onclick="onCalendarTabShown()" />
                    <div role="tabpanel" class="tab-content p-10">
                        {% include "planning/planning.html" %}
                    </div>
                    
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}